
//=== MISC ===//

$ASSETS: "_assets/";
$SITE_ROOT: "/";


//=== SIZES ===//

$site-padding: 15px;
$site-width-px: 990px;
$site-width-rem: rem( $site-width-px );


//=== FONT FAMILIES ===//

$sans: Arial, Helvetica, sans-serif;
$serif: Georgia, serif;

