
//=== MISC ===//

$ASSETS: "_assets/";
$SITE_ROOT: "/";


//=== SIZES ===//

$site-padding: 20px;
$site-width-px: 1280px;


//=== FONT FAMILIES ===//

$sans: Arial, Helvetica, sans-serif;
$serif: Georgia, serif;

