
html {
    font: -apple-system-body;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    background-color: $white;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    border: 0;
    display: block;
    max-width: 100%;
    height: auto;
}

// Correct overflow not hidden in IE 9/10/11.
svg:not(:root) {
    overflow: hidden;
}

h1.heading {
    text-align: center;
    @include media( $up-to-medium ) {
        font-size: rem( 30px, true );
    }
}

p.sv-font-ingress {
    @include media( $up-to-medium ) {
        font-size: rem( 18px, true );
    }
}

a.sv-font-meta {
    &:before {
        content: "av ";
        font-style: italic;
        font-weight: normal;
        color: $dark-grey;
    }
    &:link, &:hover, &:focus, &:active {
        font-weight: bold;
    }
}

.tmpl__articleTop {
    padding: 0 $site-padding;
    max-width: $site-width-rem;
}

.tmpl__articleContent .sv-text-portlet {
    margin: 0 auto;
    padding: 0 $site-padding;
    max-width: 40em;
}

